doctype html
html
  head
    title Placement Tracker
    //link(rel='stylesheet', href='/stylesheets/bootstrap-slate-theme.min.css')
    link(rel='stylesheet', href='/vendor/jqueryui/jquery-ui.css')
    link(rel='stylesheet', href='/vendor/toastr/toastr.min.css')
    //link(rel='stylesheet', href='/vendor/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap-material-design/dist/css/material.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap-material-design/dist/css/material-wfont.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap-material-design/dist/css/ripples.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='app')
    block content
    include scripts