body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
select.input-sm {
  color: #272b30;
}
.badge {
  margin-left: 5px;
}
.cursor:hover {
  cursor: pointer;
}
.cancel_button {
  margin-left: 10px;
}
.graph_year {
  font-style: italic;
  font-size: 72px;
}
.addIcon {
  margin-left: 5px;
  margin-right: 5px;
}
.deleteIcon {
/*display: none*/
  color: #d3d3d3;
  border: 0px;
}
.deleteIcon:hover {
  color: #000;
}
tr:hover .placementName,
tr:hover .clientName {
  text-decoration: underline;
  font-weight: bold;
}
tr:hover .deleteIcon {
  display: block;
}
.deleteCell {
  width: 40px;
}
.strong {
  font-weight: bold;
}
span.glyphicon-filter {
  font-size: 0.75em;
  vertical-align: text-top;
}
.filterButton {
  height: 25px;
}
.No {
  color: #f00;
}
.Yes {
  color: #008000;
}
.placementRow {
  height: 30px;
}
.placementNameColumn {
  width: 220px;
}
.clientNameColumn {
  width: 120px;
}
.billingIcon {
  margin-left: 25px;
}
tr.placementRow:hover td,
tr.panelHeaderRow th:hover {
  text-decoration: underline;
}
.clientInput {
  margin-bottom: 40px;
}
.formMenu {
  margin-left: 15px;
}
.nav-container {
  width: 100%;
}
body {
  padding: 0px;
  padding-top: 120px;
}
ul.nav li,
.panel-heading {
  font-size: 20px;
}
.toast-success {
  background-color: #404040;
}
tbody tr td {
  height: 48px;
}
.form-group {
  margin-bottom: 50px;
}
.form-group label {
  font-size: 18px;
}
.form-group input {
  font-size: 20px;
}
